body {
  margin: 0;
  background-color: aqua;
  align-items: center;
}

.container {
  display: flex;
  width: 300px;
  height: 300px;
  background-color: rgb(196, 233, 255);
  margin: 10rem auto;
  border: 2px solid black;
  border-radius: 25px;
  box-shadow: 1em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.ui-form {
  display: flex;
  margin: 10px 5px;
  flex-direction: column;
  padding: 5px;
}
.ui-form > div {
  flex: 1 1 auto;
  text-align: center;
  margin: 5px;
}
form {
  margin: 0 auto;
}
